{% extends 'skeleton.html' %}
{% block content %}
    <div class="row">
      <form class="col-md-4" action="{% url 'add_client' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="ip">IP address</label>
          <input type="text" class="form-control" id="ip" name="ip" placeholder="127.0.0.1"> 
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="me@example.com">
        </div>
        <button type="submit" class="btn btn-default" style="float: right;">Add</button>
      </form>
    </div>
{% endblock %}
