{% extends 'skeleton.html' %}
{% block content %}
  <div class="row">
    <div class="col-md-6">
      {% if message %}
          <div class="alert alert-danger" role="alert">{{ message }}</div>
      {% endif %}
      {% if conn_list %} 
        <form action="{% url 'close_con' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <table class="table table-hover">
              <tr>
                <th></th>
                <th>Client IP</th>
                <th>Client Port</th>
                <th>Destination</th>
              </tr>
              {% for conn in conn_list %}
                <tr>
                  <td><button type="submit" class="btn btn-danger" name="conid" value="{{ conn.id }}">Delete</button></td>
                  <td>{{ conn.client.ip }}</td>
                  <td>{{ conn.clientport }}</td> 
                  <td>{{ conn.dstemail }}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </form>
      {% else %}
        <h3>No connections exist at the moment.</h3>
      {% endif %}
    </div>
  </div>
{% endblock %}
