{% extends 'skeleton.html' %}
{% block content %}
    <div class="row">
      <form class="col-md-4" action="{% url 'finish_init' %}" method="post">
        {% csrf_token %}
        <h4>Input the info you received in your email</h4>
        <div class="form-group">
          <label for="code">Code</label>
          <textarea type="text" class="form-control" rows="3" id="code" name="code" placeholder=""></textarea>
        </div>
        <div class="form-group">
          <label for="ip">IP address</label>
          <input type="text" class="form-control" id="ip" name="ip" placeholder="127.0.0.1">
        </div>
        <button type="submit" class="btn btn-default" style="float: right;">Add</button>
      </form>
    </div>
{% endblock %}
