{% extends 'skeleton.html' %}
{% block content %}
    <div class="row">
      <div class="col-md-4">
        {% if message %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
        <form action="{% url 'init_connection' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="clients">Client</label>
            <select class="form-control" name="client" id="clients">
              {% for client in client_list %}
                  <option>{{ client.ip }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="src">Broker's IP address</label>
            <input type="text" class="form-control" id="src" name="src" placeholder="127.0.0.1">
          </div>
          <div class="form-group">
            <label for="dst">Connect to</label>
            <input type="email" class="form-control" id="dst" name="dst" placeholder="them@example.com">
          </div>
          <div class="form-group">
            <label for="pw">Client email password</label>
            <input type="password" class="form-control" id="pw" name="pw">
          </div>
          <button type="submit" class="btn btn-default" style="float: right;">Add</button>
        </form>
      </div>
    </div>
{% endblock %}
