{% extends 'skeleton.html' %}
{% block content %}
    <div class="row">
      {% if message %}
        <div class="alert alert-danger col-md-4" role="alert">{{ message }}</div>
      {% endif %}
    </div>
    <div class="row">
      <form action="{% url 'accept_connection' %}" method="post">
        {% csrf_token %}
        <div class="col-md-4">
          <h4>Input the info you received in your email</h4>
          <div class="form-group">
            <label for="code">Code</label>
            <textarea type="text" class="form-control" rows="6" id="code" name="code" placeholder=""></textarea>
          </div>
          <div class="form-group">
            <label for="group">Group</label>
            <select class="form-control" id="group" name="group">
              {% for group in groups %}
                <option>{{ group }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="spi">SPI</label>
            <input type="number" class="form-control" id="spi" name="spi">
          </div>
          <div class="form-group">
            <label for="ip">IP address</label>
            <input type="text" class="form-control" id="ip" name="ip" placeholder="127.0.0.1:12345">
          </div>
        </div>
        <div class="col-md-4">
          <h4>Select the client that is to use this connection</h4>
          <div class="form-group">
            <label for="client_ip">Client</label>
            <select class="form-control" id="client_ip" name="client_ip">
              {% for client in client_list %}
                <option>{{ client.ip }}</option>
              {% endfor %}
            </select>
          </div>
          <h4>Source address</h4>
          <div class="form-group">
            <label for="src">Broker's IP address</label>
            <input type="text" class="form-control" id="src" name="src" placeholder="127.0.0.1">
          </div>
          <h4>Email info</h4>
          <div class="form-group">
            <label for="dst">Connect to</label>
            <input type="email" class="form-control" id="dst" name="dst" placeholder="them@example.com">
          </div>
          <div class="form-group">
            <label for="pw">Client email password</label>
            <input type="password" class="form-control" id="pw" name="pw">
          </div>
          <button type="submit" class="btn btn-default" style="float: right;">Connect</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
